<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LARP - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="https://use.typekit.net/ero3lpu.css">
    </head>
    <body>
        <header>
            <!--<div class="logo">
                <a href="/index.html"><img src="/images/larp_logo.png" height="30"/></a>
            </div>-->
            <nav>
                <a href="/index.html">Home</a>
                <a href="/program.html">Program</a>
                <a href="/cfp.html">CFP</a>
                <a href="/registration.html">Registration</a>
                <a href="/venue.html">Venue</a>
                <a href="/invited-speakers.html">Invited&nbsp;speakers</a>
                <a href="/contact.html">Organisers</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            <a href="https://gu-clasp.github.io"><img src="/images/CLASP-blue.pdf" style="float: right; margin: 10px;" height="20" /></a>
        </footer>
    </body>
    <script>
      currentLinks = document.querySelectorAll('a[href=".$url$"]');
      currentLinks.forEach(link => link.className = 'current-link');
    </script>


</html>
